
[*.cs]
indent_style = space
indent_size = 2
tab_width = 4

[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_else = false
csharp_new_line_before_open_brace = anonymous_methods,control_blocks,lambdas,types

# ReSharper properties
resharper_align_multiline_calls_chain = true
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_around_region = 1
resharper_braces_for_for = required
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_region = 1
resharper_csharp_indent_size = 2
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_keep_existing_linebreaks = true
resharper_csharp_other_braces = end_of_line
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_before_invocation_rpar = true
resharper_csharp_wrap_lines = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_indent_preprocessor_if = usual_indent
resharper_int_align_fields = false
resharper_int_align_invocations = true
resharper_int_align_properties = false
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_linebreaks = true
resharper_keep_existing_primary_constructor_declaration_parens_arrangement = true
resharper_keep_user_linebreaks = true
resharper_max_attribute_length_for_same_line = 1
resharper_nested_ternary_style = expanded
resharper_wrap_before_primary_constructor_declaration_rpar = false
